*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    /* width: 70vh; */
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.game{
    height: 60vmin;
    width: 60vmin;
    /* background-color: purple; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem (0,0,0,0.3);
    font-size: 8vmin;
    background-color: beige;
    color: blueviolet;
    border: none;
    

}

#reset{
    padding: 0.5rem;
    background-color: azure;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    text-align: center;
    margin: 5px;
    }

#newGame{
    padding: 0.3rem;
    background-color: azure;
    height: 2rem;
    width: 5rem;
    
    border-radius: 1rem;
    text-align: center;
    margin: 5px;

}

#msg{
    font-size: 8vmin;
    color: rgb(1, 255, 242);
    text-shadow: 2px 2px 1rem goldenrod;
}

.hide{
    display: none;
}